---
import { getCollection } from "astro:content";
import Button from "../ui/Button.astro";
import CardVacancy from "../ui/CardVacancy.astro";
import Section from "../ui/Section.astro";
import CareerDialog from "./CareerDialog.astro";

const vacanciesEntries = await getCollection("vacancies");
const { ...props } = Astro.props;
---

<Section {...props}>
  <h2 class="lead">карьера — рост — потенциал</h2>
  <Fragment slot="after-footer">
    <ul class="vacancy-list">
      {vacanciesEntries.map(async (vacancyPostEntry) => {
        const { Content } = await vacancyPostEntry.render();
        return (
          <li class="vacancy-list__item">
            <CardVacancy 
              href={`/vacancies/${vacancyPostEntry.slug}`}
              tag={vacancyPostEntry.data.tag} 
              title={vacancyPostEntry.data.title}
              onclick={`
                window["${vacancyPostEntry.slug}"]?.showModal();
                return false;
              `}
            />
            <CareerDialog 
              id={vacancyPostEntry.slug} 
              title={vacancyPostEntry.data.title}
              position={vacancyPostEntry.data.title}
            >
              <p class="subtitle">
                <Button as="span" class="button_type-transparent">{vacancyPostEntry.data.tag}</Button>
              </p>
              <Content />
            </CareerDialog>
          </li>
        );
      })}
    </ul>
  </Fragment>
</Section>

<style>
  @import "/src/assets/css/_custom-media.css";

  /* .section {
    padding-bottom: var(--110px);
  } */

  .vacancy-list {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--gutter);
    scroll-padding-right: var(--gutter);
    scrollbar-width: none;
    padding: 0 var(--gutter) var(--110px);
    margin: 0 auto;
    max-width: 100vw;
    gap: var(--30px);
    justify-content: stretch;
  }
  .vacancy-list__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: calc(var(--1px) * 520);
    scroll-snap-align: start;

    &:nth-child(even) {
      min-width: calc(var(--1px) * 660);
    }
    &:nth-child(3n + 2) {
      .vacancy {
        color: #181b24;
        --background: linear-gradient(
            180deg,
            rgba(20, 88, 228, 0) 0%,
            rgba(0, 59, 194, 0.5) 91.44%
          );
      }
    }
    &:nth-child(3n + 3) {
      .vacancy {
        color: #9747ff;
        --background: linear-gradient(
            180deg,
            rgba(20, 88, 228, 0) 0%,
            rgba(0, 59, 194, 0.5) 91.44%
          );
      }
    }
  }

  .subtitle {
    margin: calc(var(--30px) * -1) 0 var(--70px);
  }

  @media screen and (--screen-phone) {
    .lead {
      font-size: var(--heading-4);
      padding-right: var(--16px);
      line-height: 1;
    }
    .vacancy-list {
      flex-direction: column;
      gap: 0;
      padding-bottom: var(--20px);
    }
    .vacancy-list__item {
      min-width: auto !important;
      width: 100%;
    }
  }
</style>
