---
import Button from "../ui/Button.astro";
import ButtonSubmit from "../ui/ButtonSubmit.astro";
import ColoredText from "../ui/ColoredText.astro";
import FieldFile from "../ui/FieldFile.astro";
import FieldText from "../ui/FieldText.astro";
import FieldTextarea from "../ui/FieldTextarea.astro";

const { position, ...props } = Astro.props;
---
<div class="h4">откликнуться на вакансию</div>
<form
  data-form
  class="form"
  novalidate
  {...props}
>
  <input type="hidden" name="email" />
  <input type="hidden" name="vacancy" value={position} />
  <div class="form-row">
    <FieldText 
      label="ФИО" 
      name="name" 
      id={`${position}_name`} 
      placeholder="Представьтесь, пожалуйста"
    />
  </div>
  <div class="form-row">
    <FieldText
      label="Телефон"
      name="phone"
      id={`${position}_phone`} 
      placeholder="+7"
      type="tel"
      pattern="^[+\\d][\\d\\s\\-\\(\\)]{6,}$"
      title="Введите номер телефона без букв. Например, +7 123 456-78-90"
      required
      aria-required="true"
    />
  </div>
  <div class="form-row">
    <FieldText
      label="Ник в телеграм" 
      name="telegram" 
      id={`${position}_telegram`} 
      placeholder="@"
    />
  </div>
  <div class="form-row">
    <FieldText 
      label="Электропочта" 
      name="liame" 
      id={`${position}_liame`} 
      placeholder="example@domain.ru"
      type="email"
      required
      aria-required="true"
    />
  </div>
  <fielset class="form-row">
    <legend>Ваш грейд</legend>
    <div class="grade-list">
      <Button as="label" class="button_type-info">
        <input type="radio" class="sr-only" name="experience" value="Junior"/>
        Junior
      </Button>
      <Button as="label" class="button_type-info">
        <input type="radio" class="sr-only" name="experience" value="Middle"/>
        Middle
      </Button>
      <Button as="label" class="button_type-info">
        <input type="radio" class="sr-only" name="experience" value="Middle+"/>
        Middle+
      </Button>
      <Button as="label" class="button_type-info">
        <input type="radio" class="sr-only" name="experience" value="Senior"/>
        Senior
      </Button>
    </div>
  </fielset>
  <div class="form-row">
    <FieldTextarea
      label="Расскажите о себе и своем опыте" 
      name="message" 
      id={`${position}_message`} 
    />
  </div>
  <div class="form-row">
    <FieldFile 
      id={`${position}_file`} 
      name="file"
      aria-label="Резюме"
    />
  </div>
  <div class="form-footer">
    <ButtonSubmit />
  </div>
</form>

<script>
  import "../../assets/js/form.js";
</script>

<style>
  @import "/src/assets/css/_custom-media.css";
  @import "/src/assets/css/_form.css";

  .form {
    margin-top: var(--30px);
  }

  fielset.form-row {
    border: none;
    display: block;

    & legend {
      color: var(--text-color);
      font-weight: 400;
      font-size: var(--heading-6);
      padding: calc(var(--1px)* 12) var(--16px);
      width: 100%;
      font-family: inherit;
      line-height: 1.33;
    }
  }

  .form-footer{
    & :global(.form-submit) {
      --width: 190;
    }
    & :global(.processing-of-personal-data) {
      padding-right: var(--40px);
      margin-top: calc(var(--20px)* -1);
    }
  }

  @media screen and (--screen-phone) {
    fielset.form-row legend {
      padding-left: 0;
    }
    .grade-list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--8px);
    }
    .form-footer {
      & :global(.processing-of-personal-data) {
        padding-right: 0;
        margin-top: var(--8px);
        text-align: center;
      }
    }
  }
</style>
