---
import Section from "../ui/Section.astro";
import Header from "./Header.astro";
import background from "/src/assets/img/hero_bg.svg";
import CubeImg from "/src/assets/img/hero_Cube.png";
import downloadPresentationImg from "/src/assets/img/download-presentation.svg";
import { Image } from 'astro:assets';
---

<div class="hero" style={{ 
	backgroundImage: `url(${background.src})`,
	backgroundSize: "cover",
  }}>
  <Header class="hero__header"></Header>
  <Section invert={true} class="hero__content" style="background-color: transparent;">
    <div>
		<h1 class="page-title h1" data-rotate-item>
			<span class="colored">Создаем</span> <br>
			цифровые решения <br>
			для вашего бизнеса
		</h1>

		<div class="page-title h1" data-rotate-item hidden>
			<span class="colored">Анализируем</span> <br>
			цифровые решения <br>
			для вашего бизнеса
		</div>

		<div class="page-title h1" data-rotate-item hidden>
			<span class="colored">Внедряем</span> <br>
			цифровые решения <br>
			для вашего бизнеса
		</div>
	</div>
	
	<a href="" download class="download-presentation">
		<span class="sr-only">Скачать презентацию</span>
		<img src={downloadPresentationImg.src} alt="" role="presentation" fetchpriority="high" />
	</a>
	<Image
		src={CubeImg}
		class="hero__cube hero__cube_big"
		alt=""
		role="presentation"
		loading="lazy"
	/>
	<Image
		src={CubeImg}
		class="hero__cube hero__cube_small"
		alt=""
		role="presentation"
		loading="lazy"
	/>
  </Section>
  
  <!-- <Section invert={true} class="hero__footer">
	  <div class="hero__footer-layout">
		<p class="hero__footer-text">
			<span class="h5">12 лет на рынке разработки • Аккредитация Минсвязи</span>
		</p>
		<a href="#contact-form" class="hero__footer-link">
			<span class="h2">связаться</span>
		</a>
	  </div>
  </Section> -->
</div>

<script>
	const items = document.querySelectorAll('[data-rotate-item]');
	let currentIndex = 0;

	function showNextPageTitle() {
		items[currentIndex].hidden = true;
		currentIndex = (currentIndex + 1) % items.length;
		items[currentIndex].hidden = false;
	}

	if (items) { setInterval(showNextPageTitle, 2000);}
</script>

<style>
  @import "/src/assets/css/_custom-media.css";

  .hero {
	background-color: #141A2E;
	min-height: 100vh;
	display: flex;
  	flex-direction: column;
  }
  @media screen and (height >= 810) {
	.hero {
		position: sticky;
		top: 0;
		z-index: 0;
	}
  }
  
  .hero__content {
	flex-grow: 1;
	margin-bottom: var(--70px);
  }
  .hero__footer {
	padding: var(--16px) 0;
  }
  .hero__footer-layout {
	display: flex;
	justify-content: space-between;
  }

  /* CUBES */
  .hero__cube {
	position: absolute;
	z-index: -1;
	pointer-events: none;
  }
  .hero__cube_big {
	width: calc(var(--1px) * 545);
	height: auto;
	right: var(--110px);
	top: calc(var(--1px) * 165 * -1)
  }
  .hero__cube_small {
	filter: blur(var(--8px));
	width: calc(var(--1px) * 270);
	height: auto;
	left: 0;
  }

  .page-title {
	padding-left: var(--20px);
	margin-bottom: 0;
  }
  .colored {
	background: #0076FF;
	background: linear-gradient(to right, #0076FF 30%, #DB7AFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .download-presentation {
  	position: absolute;
	top: var(--110px);
	right: var(--30px);
	text-decoration: none;
	&:hover {
		filter: hue-rotate(45deg);
	}
  }

  .hero__footer-text {
	margin: 0;
  }
  .hero__footer-link {
	position: absolute;
	border-radius: var(--30px);
	background-color: var(--color-product);
	padding: var(--20px) var(--50px);
	bottom: 0;
	right: 0;
	z-index: 10;
	transition: box-shadow .05s ease; 
	&,
	& * {
		color: currentColor;
	}
	&:hover {
		background-color: var(--color-white);
		color: var(--color-product);
		text-decoration: none;
	}
  }

  @media screen and (--screen-phone) {
  }
</style>
