---
import { Image, getImage } from "astro:assets";
import background from "../../assets/img/hero_bg.jpg";
import CubeImg from "../../assets/img/hero_cube.png";
import ColoredText from "../ui/ColoredText.astro";
import Section from "../ui/Section.astro";
import Header from "./Header.astro";
import PresentationLink from "./PresentationLink.astro";

const optimizedBackgroundImage = await getImage({
	src: background,
	quality: "90",
	format: "jpg",
});
---

<div
  class="hero"
  style={{
    backgroundImage: `url(${optimizedBackgroundImage.src})`,
    backgroundSize: "cover",
  }}
>
  <Header class="hero__header" />
  <Section
    invert={true}
    class="hero__content"
    style="background-color: transparent;"
  >
    <div>
      <h1 class="page-title h1" data-rotate-item>
        <ColoredText>Создаем</ColoredText>
        <br />
        цифровые решения <br />
        для вашего бизнеса
      </h1>

      <div class="page-title h1" data-rotate-item hidden>
        <ColoredText>Анализируем</ColoredText>
        <br />
        цифровые решения <br />
        для вашего бизнеса
      </div>

      <div class="page-title h1" data-rotate-item hidden>
        <ColoredText>Внедряем</ColoredText>
        <br />
        цифровые решения <br />
        для вашего бизнеса
      </div>
    </div>

    <PresentationLink isImage={true}/>
    <Image
      src={CubeImg}
      class="hero__cube hero__cube_big"
      alt=""
      role="presentation"
      loading="lazy"
    />
    <Image
      src={CubeImg}
      class="hero__cube hero__cube_small"
      alt=""
      role="presentation"
      loading="lazy"
    />
    <p class="mobile-text">
      12 лет на рынке разработки <br>
      Аккредитация Минсвязи
    </p>
  </Section>
</div>

<script>
  const items = document.querySelectorAll("[data-rotate-item]");
  let currentIndex = 0;

  function showNextPageTitle() {
    items[currentIndex].hidden = true;
    currentIndex = (currentIndex + 1) % items.length;
    items[currentIndex].hidden = false;
  }

  if (items) {
    setInterval(showNextPageTitle, 2000);
  }
</script>

<style>
  @import "/src/assets/css/_custom-media.css";

  .hero {
    background-color: #141a2e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  @media screen and (height >= 810) {
    .hero {
      position: sticky;
      top: 0;
      z-index: 0;
      min-height: calc(100vh - (var(--1px) * 65));
    }
  }

  .hero__content {
    flex-grow: 1;
    margin-bottom: var(--70px);
  }
  .hero__footer {
    padding: var(--16px) 0;
  }

  /* CUBES */
  .hero__cube {
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }
  .hero__cube_big {
    width: calc(var(--1px) * 545);
    height: auto;
    left: 50%;
    transform: translateX(var(--50px));
    top: calc(var(--1px) * 165 * -1);
  }
  .hero__cube_small {
    filter: blur(var(--8px));
    width: calc(var(--1px) * 270);
    height: auto;
    left: 50%;
    transform: translateX(calc(var(--1px) * -700));
  }

  .page-title {
    padding-left: var(--20px);
    margin-bottom: 0;
  }

  .mobile-text {
    display: none;
  }

  @media screen and (--screen-phone) {
    .hero {
      overflow: hidden;
      position: static;
    }
    .mobile-text {
      display: block;
    }
  }
</style>
