---
import "../assets/css/index.css";
import { getImage } from "astro:assets";
import og_image from "../assets/img/og_image.png";

const optimizedOGImage = await getImage({
	src: og_image,
	width: 1200,
	format: "png",
});

const { title } = Astro.props;
const og_title = "ИБСИС - цифровые решения для вашего бизнеса на базе ИИ";
const og_description =
	"Разработка под ключ информационных систем для бизнеса с применением ИИ технологий";
const pageUrl = Astro.url;
const baseUrl =
	import.meta.env.BASE_URL === "/" ? "" : import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}/favicon.svg`} />

    <title>{title || og_title}</title>
    <meta name="description" content={og_description} />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={og_title} />
    <meta property="og:description" content={og_description} />
    <meta
      property="og:image"
      content={`${pageUrl.origin}${optimizedOGImage.src}`}
    />
    <meta
      property="og:image:secure_url"
      content={`${pageUrl.origin}${optimizedOGImage.src}`}
    />
    <meta property="og:type" content="website" />

    <link rel="sitemap" href={`${baseUrl}/sitemap-index.xml`} />
    <meta name="format-detection" content="telephone=no" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<script>
  [...document.querySelectorAll('[data-scroll]')].forEach((carousel) => {
    let idleX = 0;
    let currentX = 0
    let idleScrollLeftX = 0;

    carousel.setAttribute('draggable', 'true');

    [...carousel.querySelectorAll('img, a')].forEach((item) => {
      item.setAttribute('draggable', 'false');
    });

    carousel.addEventListener("dragstart", (event) => {
      idleX = event.clientX;
      idleScrollLeftX = carousel.scrollLeft;

      carousel.dataset.scroll = "dragging";
      carousel.style.scrollSnapType = 'none';

      // hide drag preview
      const blankImg = new Image();
      blankImg.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=";
      event.dataTransfer.setDragImage(blankImg, 0, 0)
    });

    carousel.addEventListener("dragover", (event) => {
      if (currentX === event.clientX) {
        return;
      }
      currentX = event.clientX;
      const newPositionX = idleX - currentX + idleScrollLeftX;

      carousel.scrollLeft = newPositionX > 0 ? newPositionX : 0;
    }, false);

    carousel.addEventListener("dragend", () => {
      carousel.dataset.scroll = ""
    });
  });
</script>
<style is:global>
  [data-scroll] {
    cursor: grab;
  }
  [data-scroll="dragging"] {
    &, & * {
      cursor: grabbing !important;
    }
  }
</style>
<style>
  /*! CSS custom properties (variables) */
  @custom-media --screen-phone (width < 1024px);

  @font-face {
    font-family: "M PLUS 1p Fallback";
    src: local(Arial);
    font-weight: 400;
    size-adjust: 105%;
    /* ascent-override: 100.075%;
		advance-override: 143%;
		descent-override: 20%; */
    line-gap-override: 24.2%;
    font-display: swap;
  }

  body {
    font-family: "M PLUS 1p", "M PLUS 1p Fallback", Inter, Roboto,
      "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
