---
import { Image } from "astro:assets";
import ArrowIcon from "/src/assets/img/arrow.svg";
import Logo from "/src/assets/img/logo.svg";

const { href, tag, title, ...props } = Astro.props;
---

<a href={href} class="vacancy" {...props}>
  <div class="vacancy__header">
    <span class="vacancy__tag">{tag}</span>
    <Image
      src={Logo}
      class="vacancy__logo"
      alt=""
      role="presentation"
      loading="lazy"
    />
    <Image
      src={ArrowIcon}
      class="vacancy__arrow"
      alt=""
      role="presentation"
      loading="lazy"
    />
  </div>
  <span class="vacancy__title">{title}</span>
</a>

<style>
  @import "/src/assets/css/_custom-media.css";

  .vacancy {
    --background: linear-gradient(var(--color-product), var(--color-product));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--36px);
    background: var(--background) currentColor;
    color: var(--color-product);
    padding: var(--24px) var(--36px) var(--36px) var(--24px);
    height: 100%;
    position: relative;

    &:hover,
    &:focus {
      background:
        linear-gradient(
          180deg,
          rgba(20, 88, 228, 0) 0%,
          rgba(0, 59, 194, 0.5) 91.44%
        ),
        var(--background) currentColor;
    }
  }
  .vacancy__header {
    display: flex;
    margin-bottom: calc(var(--1px) * 140);
    gap: var(--16px);
    align-items: start;
  }
  .vacancy__tag {
    background-color: var(--color-white);
    color: currentColor;
    font-size: var(--heading-6);
    border-radius: var(--60px);
    line-height: 1.4;
    padding: var(--8px) var(--20px);
    white-space: nowrap;
  }
  .vacancy__logo {
    height: calc(var(--1px) * 48);
    width: auto;
  }
  .vacancy__arrow {
    transform: translateY(var(--8px));
    margin-left: auto;
  }
  .vacancy__title {
    color: var(--text-white);
    font-size: var(--heading-3);
    line-height: 1;
    padding: 0 var(--40px) 0 var(--20px);
  }

  @media screen and (--screen-phone) {
    .vacancy {
      border-radius: var(--24px);
      padding: var(--16px) var(--16px) var(--24px);
    }
    .vacancy__header {
      margin-bottom: var(--90px);
      gap: calc(var(--1px) * 12);
    }
    .vacancy__tag {
      padding: var(--4px) calc(var(--1px) * 12);
    }
    .vacancy__logo {
      height: var(--30px);
    }
    .vacancy__arrow {
      width: var(--24px);
      margin-right: var(--8px);
    }
    .vacancy__title {
      padding: 0 var(--16px);
    }
  }
</style>
