---
import { Image } from "astro:assets";
import ArrowIcon from "/src/assets/img/arrow.svg";
import Logo from "/src/assets/img/logo.svg";
import Button from "../ui/Button.astro";

const { href, tag, title, ...props } = Astro.props;
---

<a href={href} class="vacancy" {...props}>
  <div class="vacancy__header">
    <Button as="span" class="vacancy__tag">{tag}</Button>
    <Image
      src={Logo}
      class="vacancy__logo"
      alt=""
      role="presentation"
      loading="lazy"
    />
    <Image
      src={ArrowIcon}
      class="vacancy__arrow"
      alt=""
      role="presentation"
      loading="lazy"
    />
  </div>
  <span class="vacancy__title">{title}</span>
</a>

<style>
  @import "/src/assets/css/_custom-media.css";

  .vacancy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: calc(var(--1px) * 36);
    background-color: var(--color-product);
    color: var(--color-product);
    padding: calc(var(--1px) * 24) calc(var(--1px) * 36) calc(var(--1px) * 36) calc(var(--1px) * 24);
    height: 100%;
  }
  .vacancy__header {
    display: flex;
    margin-bottom: calc(var(--1px)* 140);
    gap: var(--16px);
    align-items: start;
    & *:last-child {
      margin-left: auto;
    }
  }
  .vacancy__tag {
    background-color: var(--color-white);
    color: currentColor;
    font-size: var(--heading-6);
    border-radius: var(--60px);
    line-height: 1.4;
    padding: var(--8px) var(--20px);
    white-space: nowrap;
  }
  .vacancy__logo {
    height: calc(var(--1px) * 48);
    width: auto;
  }
  .vacancy__arrow {
    transform: translateY(var(--8px));
  }
  .vacancy__title {
    color: var(--text-white);
    font-size: var(--heading-3);
    line-height: 1;
    padding: 0 var(--40px) 0 var(--20px);
  }

  @media screen and (--screen-phone) {
  }
</style>
